<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi9AVAR5sunUl1YYTU0xuXmy85cPhTZvo</string>
	<key>GCM_SENDER_ID</key>
	<string>819357841365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.panchayatRaj</string>
	<key>PROJECT_ID</key>
	<string>panchayat-raj-de3bf</string>
	<key>STORAGE_BUCKET</key>
	<string>panchayat-raj-de3bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819357841365:ios:498c0470b7205bc23fef5c</string>
</dict>
</plist>